.collection_wrapper {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.collection {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18.75rem, 1fr));
  gap: 1.5rem;
}

@media (max-width: 768px) {
  .collection_wrapper {
    & h2 {
      font-size: 2rem;
    }
  }
  .collection {
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  }
}
