$padding: 0 12%;
$paddingMobile: 0 5%;

.app_layout {
  height: 100%;
  width: 100%;
}

.navbar__container {
  padding: $padding;
}

.content__container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  padding: $padding;
}

@media (max-width: 768px) {
  .navbar__container {
    padding: $paddingMobile;
  }
  .content__container {
    padding: $paddingMobile;
  }
}
